<section id ="footer">

    <!-- PAGE | CONTACT -->
    <section id ="contact">

        <div class="pages black-bg white page-contact" id="page-contact">
            <div class="container-fluid">
                <!-- Header -->
                <header>
                    <h4 class="line-divider align-center"></h4>
                    <center>
                      <h1 >Keep in Touch </h1>
                    </center>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 align-center">
                          <center>
                             <p>
                                Enter your details below to receive pre-launch updates.
                            </p>
                          </center>
                        </div>
                    </div>
                </header>
                <!-- End Header -->

                    <div class="row-fluid">
                        <!-- Contact form -->
                        <div class="col-xs-12 text-center">

                            <!-- Begin MailChimp Signup Form -->
                            <div id="mc_embed_signup"  >
                            <form action="//realquestions.us5.list-manage.com/subscribe/post?u=973f087de351e6cb638b7019c&amp;id=f30229680f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="mc-field-group">
                                <input type="text" value="" name="FNAME" class="footer-txt-box" id="mce-FNAME" style=" width:400px; height:40px;" placeholder=' Name'>
                            </div>

                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email footer-txt-box" id="mce-EMAIL" style=" width:400px; height:40px;" placeholder='Email'>
                            </div>
                            </div>

                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_2271a44a1e6272154eb90a940_8fce083892" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                            </form>
                            </div>  <!--End mc_embed_signup-->


                      <div class="col-xs-12 contact-info">

                        <!-- Contact information -->
                        <div class="col-xs-12 col-sm-5">
                            <div class="media">
                                <div class="media-body">
                                  <i class="fa fa-phone"></i> (+61) 400 164 054
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <i class="fa fa-map-marker"></i> Sydney Australia
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <i class="fa fa-envelope"></i> info@realquestions.org
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <i class="fa fa-clock-o"></i>   UTC / GMT +10
                                </div>
                            </div>

                            <div class="social-icons">
                                    <a href="https://www.facebook.com/RealQuestionsAustralia/?fref=ts"> <i class="fa fa-facebook"></i> </a>
                                    <a href="https://twitter.com/RealQuestionsAU"> <i class="fa fa-twitter"></i> </a>
                                    <a href="https://www.linkedin.com/company/1161388"> <i class="fa fa-linkedin"></i> </a>
                            </div>

                            </div>
                        </div>   <!-- END Contact Information -->

                    </div>

            </div>

    </section> <!-- END PAGE | Contact Section -->


</section>