<script src="{{ "/lib/underscore-min.js" | prepend: site.baseurl  }}"></script>
<script src="{{ "/lib/backbone-min.js" | prepend: site.baseurl  }}"></script>
<script src="{{ "/js/utils.js" | prepend: site.baseurl  }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl  }}"></script>
<script src="{{ "/js/views.js" | prepend: site.baseurl  }}"></script>
<script src="{{ "/js/models.js" | prepend: site.baseurl  }}"></script>
<script src="{{ "/js/facebook.js" | prepend: site.baseurl  }}"></script>
