<div class="header">

    <div class="container"> 

    <div class="brand">
		<a href="/index.html">
			<div class="logoR">R</div>
			<div class="logoO">O</div>
			<div class="question">?</div>
		</a>
		<div class="tagline">Real Questions</div>
	</div>

    <div class="nav-wrapper">
        <nav>
            <ul class="nav-ul">
                <li class="nav-li"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
                <li class="nav-li dropdown">
                    <a role="button" class="a-dropdown">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu-test">
                        <li class="nav-li li-sub"><a href="{{"/whoWeAre/ "| prepend: site.baseurl }}" class="a-sub">Who We Are</a></li>
						<li class="nav-li li-sub"><a href="{{"/privacy/ "| prepend: site.baseurl }}" class="a-sub">Privacy Policy</a></li>
                        <li class="nav-li li-sub"><a href="{{"/terms/"| prepend: site.baseurl }}" class="a-sub">Terms of Use</a></li>
                    </ul>
                </li>
                <li class="nav-li"><a href="{{"/contactUs/"| prepend: site.baseurl }}">Contact Us</a></li>
            </ul>
        </nav>
    </div>

    <button type="button" class="nav-button">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button> 

    </div> <!-- End Container -->
</div>
