<div class="header">
    <div class="brand"><a href="/index.html"><img src="/assets/RQ-logo.png" alt="Real Questions" class="responsive-image"></a></div>

    <div class="nav-wrapper">
        <nav>
            <ul class="nav-ul">
                <li class="nav-li"><a href="/index.html">Home</a></li>
                <li class="nav-li dropdown">
                    <a class="a-dropdown">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu-test">
                        <li class="nav-li li-sub"><a href="/whoWeAre/index.html" class="a-sub">Who We Are</a></li>
                        <li class="nav-li li-sub"><a class="a-sub">Terms and Conditions</a></li>
                    </ul>
                </li>
                <li class="nav-li"><a href="/contactUs/index.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>

    <button type="button" class="nav-button">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button> 
</div>
