<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/node_modules/bootstrap/dist/css/bootstrap.min.css" | prepend: site.baseurl }} ">
    <link rel="stylesheet" href="{{ "/node_modules/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }} ">

    <!-- JS Scripts -->
    <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"> </script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl  }}"> </script>
    <script src="{{ "/js/nav.js" | prepend: site.baseurl  }}"> </script>

    <!-- Adobe TypeKit -->
    <script src="https://use.typekit.net/rri5idj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
