<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

      <section id ="hero">
            <!-- Header Image -->

          <article class="front image">
             <div class="front-image" style="background-image:url(/assets/header-bg.jpg);opacity: 0.6; filter: alpha(opacity=50); z-index:10;  "></div>

                <div class = "container">

                  <div class="hero-content col-xs-12">

                    <center>
                    <h1> Real <text class="blue">Q</text>uestions,  <br/>  Real<text class="blue"> A</text>nswers </h1>
                    <p> Ask politicians questions that matter to you. Real Questions provides a platform for people to ask effective questions, and show the extent of user support for them.</p>
                      <button style="color:white;" type="button" class="btn btn-primary cta">Get Early Acess <i class="fa fa-chevron-right"></i></button>'; } ?></a>
                    </center>

                  </div>

                </div> <!-- End Container -->

           </article> <!-- End Header Image -->

        </section> <!-- End Hero Section -->

<section id = "features">

    <div class="container">

        <h2> Real Questions provides a platform for people to ask effective questions, and show the extent of user support for them. </h2>

      <div class="row">
        <div class="feature col-md-4">

              <center>

              <i class="fa fa-comment"></i>

            <h3>Create an Account </h3>

          <p>Ask politicians questions that matter to you. Real Questions provides a platform for people to ask effective questions, and show the extent of user support for them.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

      </center>

        <div class="feature col-md-4">

            <center>
            <i class="fa fa-users"></i>

            <h3>Enage </h3>
          <p>Ask politicians questions that matter to you. Real Questions provides a platform for people to ask effective questions, and show the extent of user support for them. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>

              </center>

        <div class="feature col-md-4">

            <center>
          <i class="fa fa-thumbs-up"></i>

            <h3> Ask Questions</h3>
          <p>Ask politicians questions that matter to you. Real Questions provides a platform for people to ask effective questions, and show the extent of user support for them.  </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

          </center>

      </div>

      <div class="col-xs-12">

        <img src="/assets/ipad-image-01.png"/>

      </div>

<section id ="features2">
    <div class="pages page-about" id="page-about" >
        <div class="container">

            <!-- Feature Row 1 -->
                <div class="row feature-row">
                    <div class="col-xs-12 col-md-4">
                      <h3>Search for politicans</h3>
                       <p class="byline">Craft your secret identity, design your logo, and choose the causes you care about. Craft your secret identity, design your logo, and choose the causes you care about.. </p>
                    </div>

                    <div class ="col-xs-12 col-md-8 ">
                       <img src="/assets/ipad-image-02.png"/>
                    </div>

                </div> <!-- End Feature Row 1 -->

            <hr/>

                <!-- Feature Row 2 -->
                <div class="row feature-row">

                    <div class ="col-xs-12 col-md-8">
                       <img src="/assets/ipad-image-03.png"/>
                    </div>

                    <div class="col-xs-12 col-md-4">
                         <h3>Support questions</h3>
                         <p class="byline">Craft your secret identity, design your logo, and choose the causes you care about. Craft your secret identity, design your logo, and choose the causes you care about.. </p>
                      </div>

                </div> <!-- End Feature Row 2 -->

            <hr/>


                 <!-- Feature Row 4 -->
            <div class="row feature-row">

                    <div class ="span8">
                       <img src="assets/images/covert-heroes-ipad-5.png"/>
                    </div>

                    <div class="span4">
                         <h3>What do you stand for?</h3>
                            <p class="byline">Complete jobs and earn rewards and skills for you and your team.

                </div> <!-- End Feature Row 2 -->

            <hr/>

          </div>


        </div> <!-- End Container -->
</div>

</section><!-- End Features 2




    <!-- Footer -->
    <div class="pages black-bg white page-contact" id="page-contact">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider"></h4>
                <h1 style="color:white" >Pre Register</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p style="color:white" >
                            Enter your details below to get early access to Covert Heroes and pre-launch notifications
                        </p>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- Start Article -->
            <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span12 text-center">


<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup"  >
<form action="http://covertheroes.us3.list-manage.com/subscribe/post?u=2271a44a1e6272154eb90a940&amp;id=8fce083892" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate >
<div class="mc-field-group">
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME" style=" width:400px; height:40px;" placeholder=' Name'>
</div>

<!--
<div class="mc-field-group">
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME" style=" width:400px; height:40px;" placeholder='Last Name'>
</div>
-->

<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style=" width:400px; height:40px;" placeholder='Email'>
</div>
</div>

	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2271a44a1e6272154eb90a940_8fce083892" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
</form>
</div>

<!--End mc_embed_signup-->

                    <!-- End Contact form -->
                  <div class="row-fluid">
                    <!-- Contact information -->

                    <div class="span 5   ">
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-phone"><i>Phone</i></a>
                            </div>
                            <div class="media-body smallFontBy08">
                                (+61) 400 164 054
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-place"><i>Location</i></a>
                            </div>
                            <div class="media-body smallFontBy08">
                                Sydney, Australia
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-mail"><i>email</i></a>
                            </div>
                            <div class="media-body smallFontBy08">
                                info@covertheroes.com
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-clock"><i>Time zone</i></a>
                            </div>
                            <div class="media-body smallFontBy08">
                                UTC / GMT +10
                            </div>
                            <br/>
                            <br/>
                              <div class="social-icons sicon-white bordered">
                            <a href="https://www.facebook.com/CovertHeroes"class="sicon-facebook"><i>Facebook</i></a>
                            <a href="https://twitter.com/CovertHeroes" class="sicon-twitter"><i>Twitter</i></a>
                            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                            <a href="https://plus.google.com/111711834200790201838/posts" class="sicon-youtube"><i>Google +</i></a>
                            <a href="http://www.pinterest.com/covertheroes/" class="sicon-pinterest"><i>Pinterest</i></a>
                        </div>

                        </div>
                    </div> <!-- END CONTACT -->


                </div>


            </article>
            <!-- End Article -->

        </div>

        <!-- Background map image -->
        <div id="map-image">
            <img src="assets/images/pages/contact/map_bck.jpg" alt="Treble">
        </div>
    </div>
    <!-- END Footer | CONTACT -->





</body>
</html>
