<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

<section id ="home-page">

      <section id ="hero">
            <!-- Header Image -->

          <article class="front image">
             <div class="front-image" style="background-image:url({{ my_page.url | prepend: site.baseurl }}/assets/header-bg.jpg);opacity: 0.6; filter: alpha(opacity=50); z-index:10;  "></div>

            <div class = "container-fluid hero-content">

                  <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">-->
                  <div class="col-sm-12 col-md-6">
                      <h1 class="hero-h1"> Democracy <br class="hero-h1-br" /> Online</h1>
                      <p> Ask politicians questions that matter to you. Real Questions provides a platform for people to ask effective questions, and show the extent of user support for them.</p>
                      <button type="button" class="btn btn-primary cta button-early-access" onclick="location.href='https://realquestions.net.au/fbapp/earlyaccess';">Get Early Facebook Acess <i class="fa fa-chevron-right"></i></button></a>
                  </div>

                 <!--<div class="image-container col-xs-4 col-sm-6 col-sm-offset-2 col-md-6 col-lg-6">-->
                 <div class="image-container col-sm-12 col-md-6">
                    <img class="responsive-image" src="/assets/ipad+iphone.png">
                  </div>

              </div> <!-- End Container -->

           </article> <!-- End Header Image -->

        </section> <!-- End Hero Section -->

<section id = "features">

    <div class="container-fluid">

      <div class="col-md-12">

        <h2> Real Questions is an online platform that connects people with politicians. </h2>

          <p class="byline">Whether it's climate change, health care, or infrastructure, Real Questions allows you to ask politicians the questions that matter to you.

By making use of social media and Australia's largest online politcal database, Real Questions leverages your political question ensuring it gets the recognition and support it deserves. <br/><br/>

Getting started on the Real Questions platform couldn't be easier. Simply create an account and start engaging with other politically minded people straight away. </p>


        <div class="feature col-md-4">

              <center>

              <i class="fa fa-comment"></i>

            <h3>Engage with questions </h3>

          <p>Explore the Real Questions website and read, comment and support political questions that you feel are important.</p>

          <!-- Details button
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          -->

        </div>

      </center>

        <div class="feature col-md-4">

            <center>
            <i class="fa fa-users"></i>

            <h3>Ask your questions </h3>
          <p>Ask your own questions to the relevant politician or politician party and receive support and feedback from other users. </p>

          <!-- Details button
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          -->

       </div>

              </center>

        <div class="feature col-md-4">

            <center>
          <i class="fa fa-thumbs-up"></i>

            <h3> Get traction </h3>
          <p>Get notified when politicians give an answer, and provide feedback and rebuttals. </p>

          <!-- Details button
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          -->

        </div>

          </center>

    </div> <!-- end col-12 -->

  </div>

</section>


<section id = "device-features">

  <div class ="container-fluid">



    <center><h2>Upcoming Features</h2></center>


        <img src="{{ my_page.url | prepend: site.baseurl }}/assets/ipad.png"/>

      <!-- Full Feature 1 -->

      <div class="full-feature col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-4 col-sm-6 col-md-8 col-lg-8">
              <img src="/assets/ipad-image-02.png"/>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h2>Australia's largest political database, one click away.</h2>

      <hr/>
            <p> Take advantage of Australia's largest online political database and find the politicians your looking for.  <br/></br>
                Whether you're after your local representative or the Prime Minister, Real Questions advanced search functionality makes finding the right politicians and questions breeze. </p>


        <img src="{{{ my_page.url | prepend: site.baseurl }}/assets/ipad.png"/>


   </div>



      </div>

      <!-- Full Feature 2 -->

        <div class="full-feature col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <h2>Find your local MP</h2>
                  <hr/>
                <p>Stay on the top of a politician's current political status, political party, user interest and recent questions and answers.</p>


        <img src="{{ my_page.url | prepend: site.baseurl }}/assets/ipad.png"/>



            <div class="col-xs-4 col-sm-6 col-md-8 col-lg-8">
              <img src="/assets/ipad-image-03.png"/>
            </div>
        </div>

    </div> <!-- End Container -->



</section>

<section id = "features">

    <div class="container-fluid">

        <h2> Real Questions is an online platform that connects people with politicians. </h2>

          <p class="byline">Whether it's climate change, health care, or infrastructure, Real Questions allows you to ask politicians the questions that matter to you.

By making use of social media and Australia's largest online politcal database, Real Questions leverages your political question ensuring it gets the recognition and support it deserves. <br/><br/>

Getting started on the Real Questions platform couldn't be easier. Simply create an account and start engaging with other politically minded people straight away. </p>

      <div class="row">
        <div class="feature col-md-4">

              <center>

              <i class="fa fa-comment"></i>

            <h3>Engage with questions </h3>

          <p>Explore the Real Questions website and read, comment and support political questions that you feel are important.</p>

        </div>

      </center>

        <div class="feature col-md-4">

            <center>
            <i class="fa fa-users"></i>

            <h3>Ask your questions </h3>
          <p>Ask your own questions to the relevant politician or politician party and receive support and feedback from other users. </p>

       </div>

              </center>

        <div class="feature col-md-4">

            <center>
          <i class="fa fa-thumbs-up"></i>

            <h3> Get traction </h3>
          <p>Get notified when politicians give an answer, and provide feedback and rebuttals. </p>

          <!-- Details button
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          -->

        </div>

          </center>

      </div>

    </div>

</section>

<section id ="footer">

    <!-- PAGE | CONTACT -->
    <section id ="contact">

        <div class="pages black-bg white page-contact" id="page-contact">
            <div class="container-fluid">
                <!-- Header -->
                <header>
                    <h4 class="line-divider align-center"></h4>
                    <center>
                      <h1 >Keep in Touch </h1>
                    </center>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 align-center">
                          <center>
                             <p>
                                Enter your details below to receive pre-launch updates.
                            </p>
                          </center>
                        </div>
                    </div>
                </header>
                <!-- End Header -->

                    <div class="row-fluid">
                        <!-- Contact form -->
                        <div class="col-xs-12 text-center">

                            <!-- Begin MailChimp Signup Form -->
                            <div id="mc_embed_signup"  >
                            <form action="//realquestions.us5.list-manage.com/subscribe/post?u=973f087de351e6cb638b7019c&amp;id=f30229680f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="mc-field-group">
                            	<input type="text" value="" name="FNAME" class="footer-txt-box" id="mce-FNAME" style=" width:400px; height:40px;" placeholder=' Name'>
                            </div>

                            <div class="mc-field-group">
                            	<input type="email" value="" name="EMAIL" class="required email footer-txt-box" id="mce-EMAIL" style=" width:400px; height:40px;" placeholder='Email'>
                            </div>
                            </div>

                            	<div id="mce-responses" class="clear">
                            		<div class="response" id="mce-error-response" style="display:none"></div>
                            		<div class="response" id="mce-success-response" style="display:none"></div>
                            	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_2271a44a1e6272154eb90a940_8fce083892" value=""></div>
                            	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                            </form>
                            </div>  <!--End mc_embed_signup-->


                      <div class="col-xs-12 contact-info">

                        <!-- Contact information -->
                        <div class="col-xs-12 col-sm-5">
                            <div class="media">
                                <div class="media-body">
                                  <i class="fa fa-phone"></i> (+61) 400 164 054
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <i class="fa fa-map-marker"></i> Sydney Australia
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <i class="fa fa-envelope"></i> info@realquestions.org
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <i class="fa fa-clock-o"></i>   UTC / GMT +10
                                </div>
                            </div>

                            <div class="social-icons">
                                    <a href="https://www.facebook.com/RealQuestionsAustralia/?fref=ts"> <i class="fa fa-facebook"></i> </a>
                                    <a href="https://twitter.com/RealQuestionsAU"> <i class="fa fa-twitter"></i> </a>
                                    <a href="https://www.linkedin.com/company/1161388"> <i class="fa fa-linkedin"></i> </a>
                            </div>

                            </div>
                        </div>   <!-- END Contact Information -->

                    </div>

            </div>

    </section> <!-- END PAGE | Contact Section -->


</section>

</section> <!-- END HOME PAGE -->




</body>
</html>
