---
---

$nav-color: #fff;
$color: #333;
$font-size: 2em;
$container-width: 1000px;
$main-width: 650px;
$side-width: 275px;
$header-color: #333;
$header-h1-color: #333;
$header-h1-size: 20px;
$hr-color: #fff;

$blue: #0071AB;

@import
        "base",
        "layout",
        "nav",
        "hero",
        "features"
;
