html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
    p{
        font-family: "proxima-nova";
        font-size:14px;
    }
}

h1, h2 {
  font-family: 'Exo 2', sans-serif;
}

.container {
  color: $color;
  margin: 0 auto;
  width: $container-width;
  margin-bottom: 50px;
}

.main {
  float: left;
  width: $main-width;

  h3 {
    font-family: "akagi-pro",sans-serif;
    font-weight: 600;
    color: #444444;
    font-size: 16px;
  }


}

.side {
  float: right;
  width: $side-width;
}

.sidebar-content {
  h1 {
    color: $header-h1-color;
    font-size: $header-h1-size;
    font-weight: normal;
  }

  hr {
    margin-top: -14px;
  }
}

.heading {
  margin: 0 auto;
  width: $container-width;

  h1 {
    color: $header-h1-color;
  //  font-size: $header-h1-size;
  font-size: 50px;
    font-weight: 700;
    padding-top: 20px;
    color: #444444
  }
}

hr {
  color: $hr-color;
}

.image {
  width: 100%;
}

.responsive-image {
  max-width: 100%;
}
