#features{

  .features{

  }

  .feature-full{
   margin-top:60px;
   margin-bottom:60px;
  }

  h2{
    font-family: 'Exo 2', sans-serif;
    margin-bottom:80px;
    color: #444444;
    text-align: center;
    font-weight: 300;
  }

  h3{
    font-family: 'Exo 2', sans-serif;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    color: #1f1f1f;
  }


  p{
    text-align: center;
    margin-bottom: 30px;
    line-height: 150%;
    font-weight: 300;
    color: #696969;
    font-size: 16px;
  }

  .fa {
    color: #0071AB;
    font-size: 50px;
  }

  img {
    width:100%;
  }

  .row{
    margin-bottom:60px;
  }

}


/* Feautre Section - Page-About */

#features2 {

  .feature-row {
  padding: 100px 0px 100px 0px
  }

   .feature-row .byline {
  }

   .feature-row .img-circle {
    width:25%!important;
    height:25%!important;
  }

}
