#home-page {
     background-image: url(../assets/rectangles.png);
     background-repeat: repeat;
     background-position: top left;
     background-attachment: fixed;
}

#features {
  padding-top:50px;
  background-color:white;
}

#features, #device-features{

  .features{
  //   background-image: url(../assets/bg-squares-2.png);

  }

  .full-feature{
   margin-top:60px;
   margin-bottom:60px;
  }

  h2{
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 30px;
    color: #444444;
    text-align: center;
    font-weight: 300;
  }

  h3{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.7em;
    font-weight: 300;
    text-align: center;
    color: #1f1f1f;
  }

  p{
    font-family: 'Exo 2', sans-serif;
    font-size:  1.3em;
    text-align: center;
    margin-bottom: 30px;
    line-height: 150%;
    font-weight: 300;
    color: #696969;

  }

  .byline {
        margin-bottom: 80px;
  }

  .fa {
    color: #0071AB;
    font-size: 50px;
  }

  img {
    width:100%;
  }

  .row{
    margin-bottom:60px;
  }

  @media only screen and (max-width: 991px  ) {
    img {
        margin-top:60px;
    }
  }



}

hr{
    margin: 27px 0;
    border: 0;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #ffffff;
}

#device-features{
  background-color: #4C96D1;

  h2 {
    color:white;
  }

  p{
    color:white;
  }

}
