.responsive-image {
  max-width: 100%;
}

#hero {
  color:white;
  padding-bottom:50px;
  background-image: url(../assets/rectangles.png);
  background-color: #4C96D1;
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
  overflow:hidden;
  /*max-height:670px;*/

  //  background-repeat: no-repeat;
  //  background-size: 100% 100%;

.cta {
   color:white;
   border:2px solid white;
   background-color:transparent;
   font-size: 16px;
   margin-top:15px;
   padding: 10px 15px;

   .fa{
     font-size: 16px;
     margin-left:5px;
   }
 }

 .cta:hover {
    color:white;
    border:1px solid $blue;
    background-color: $blue
  }

.hero-content {
  /*margin-top:60px;*/
  z-index:30;

        h1 {
        font-family: 'Exo 2', sans-serif;
        display:inline-block;
        color: white;
        font-weight: 900;
        font-size: 65px;
        }

        p{
          color:white;
          font-size: 20px;
          font-weight: 300;
          margin-top: 20px;
        }

        button {
          color:white;
          background-color: #4C96D1 ;
          border-radius: 10px;
          font-size: 20px;
          padding: 12px 20px 12px 20px;
        }

        .image-container{

              img{
                width:185%;
                position: relative;
                top:-40px;
              }

                 @media only screen and (max-width: 991px  ) {
                   img {
                       margin-top:60px;
                   }
                 }

             }

    }

}

#footer {
  color:white;
  padding-top:80px;
  padding-bottom:100px;
  background-color: #4C96D1;
  background-position: top left;
  background-attachment: fixed;
  background-image: url(../assets/rectangles.png);
  background-repeat: repeat;

#contact {

    .contact-info {

      .media{
        color:white;
        font-size:14px;

          i{
            font-size:1.5em;
            margin-right: 20px;
          }

        }

          .social-icons{
           color:white;
           font-size:1.3em;
           margin-top:15px;

             a {
               color:white!important;
               text-decoration: none;


                i {

                  margin-right:10px;
                  font-size:1.3em;

                }

             }

           }

      }


    h1,p {
      color:white;
    }

    .contact-info{
      color:white;

        a {
          text-decoration: none;
        }

    }

    form input[type='email'],
    form input[type='text'] {
      background-color:  #fff;
      color: #666666;
      font-size: 0.8em;
      margin-bottom:20px;
    }

    form input[type='email']:focus,
    form input[type='text']:focus {
      background-color: #fff;
    }

    form textarea {
      background-color: #CCCCCC;
      color: #666666;
      font-size: 0.8em;
    }

    form textarea:focus {
      background-color: #fff;
    }

    form .btn {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

     form .media {
      padding-top: 24px;
    }

}

}

@media screen and (max-width: 768px) {
  #hero, .hero-content {
    padding-top: 0 !important;
  }

  .hero-h1 {
    font-size: 40px !important;
  }

  .hero-h1-br {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .footer-txt-box {
    width: 100% !important;
  }

  .button-early-access {
    width: 100%;
    font-size: 100% !important;
  }
}
