.header {

  h1 {
    color: $header-h1-color;
    color: blue;
    float: left;
    margin: 0;
    padding: 0;
  }
}

.logo {
  float: left;
  width: 80px;
}


.page-link {
  color: $nav-color;
  padding: 10px;
  text-decoration: none;
}

.form-el {
  border:1px solid #C4BFBF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.form-txt-box {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.form-select-box {
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  width: 105%;
}

.form-txt-area {
  height: 80px;
  padding: 15px;
  width: 100%;
}

input[type=text]:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.align-center{
  text-align: center;
}

body.earlyaccess h2 {font-family: 'Exo 2', sans-serif;}
body.earlyaccess p {font-size:20px;}
body.earlyaccess #content .container {padding: 0px; margin:0px;}
body.earlyaccess #content .well {padding: 10px; background-color: rgba(170, 205, 232, 0.43); margin-bottom:0px; border: 0px none; border-radius:0px; -webkit-border-radius: 0px; -moz-border-radius:0px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;}
body.earlyaccess #content .well h2 {margin:0px; padding:0px;}
body.earlyaccess #content .well h5 {font-size:20px; font-family:'proxima-nova'; margin-bottom:20px;}
body.earlyaccess #content .well a.btn.btn-default.btn-profile {font-size: 20px; background:#000; color:#fff; font-family: 'Exo 2', sans-serif;}
body.earlyaccess #content .well a.btn.btn-default.btn-profile:hover {background:#fff; color:#000; border: 1px solid #000;}
body.earlyaccess #content .well a.btn.btn-danger.btn-profile {font-size: 20px; font-family:'Exo 2', sans-serif;}
body.earlyaccess #content .well a.btn.btn-danger.btn-profile:hover {background:#fff; border:1px solid #d9534f; color: #d9534f;}
body.earlyaccess #contentactions .form-horizontal .form-group {margin:0px;}
body.earlyaccess #contentactions .form-group label {font-family:'Exo 2', sans-serif; font-family:20px;}
body.earlyaccess #contentactions .controls .input-xxlarge.itemName {font-size:20px; width:80%; height:50px;}
body.earlyaccess #contentactions .form-group .controls button.btn.btn-primary.btn-large.post {font-family: 'Exo 2', sans-serif; font-family:20px;}
