.header {
  -webkit-transition: height .2s; /* For Safari 3.1 to 6.0 */
  -webkit-transition-timing-function: linear; /* Safari */
  transition: height .2s;
  transition-timing-function: linear;
  background-color: #333;
  height: 120px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 40;
}

.brand {
  -webkit-transition: width .2s, margin-top .2s; /* For Safari 3.1 to 6.0 */
  -webkit-transition-timing-function: linear; /* Safari */
  transition: width .2s, margin-top .2s;
  transition-timing-function: linear;
  color: grey;
  float: left;
  font-family: 'Exo 2', sans-serif;
  width: 270px;
  margin-left: 50px;
}
.brand div {float:left;}
.brand a {font-size:72px;}
.brand a:hover {text-decoration:none;}
.brand div.logoR {color:#fff;}
.brand div.logoO, .brand div.question {font-size:45px; margin-top:11px; color:#4B94CF;}
.brand div.question { transform: rotate(270deg); -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); margin-top:37px; margin-left:-10px;}
.brand .tagline {margin-top:50px; margin-left:20px; color:#fff; font-size:25px;}
.container, #hero, .hero-content {
  -webkit-transition: padding-top .2s; /* For Safari 3.1 to 6.0 */
  -webkit-transition-timing-function: linear; /* Safari */
  transition: padding-top .2s;
  transition-timing-function: linear;
  width: 100%;
  padding-top: 120px;
}

/*Navbar -------------------------------------------------*/

.nav-wrapper {
  float: right;
  /*display: none;*/
  margin-right: 10px;
}

.nav-ul {
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  list-style-type: none;
  position: relative;
  font-size:20px;
}

.nav-li {
  float: left;
  white-space: nowrap;
}

.nav-li a {
  -webkit-transition: background-color .2s, color .2s; /* For Safari 3.1 to 6.0 */
  transition: background-color .2s, color .2s;
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none !important;
}

.nav-li a:hover {
  background-color: #fff;
  color: #000;
}

.caret {
  font-family: 'arial';
  font-size: 10px;
  padding-top: 2px;
}

.dropdown-menu-test {
  -webkit-transition: max-height .2s, opacity .2s; /* For Safari 3.1 to 6.0 */
  -webkit-transition-timing-function: linear; /* Safari */
  transition: max-height .2s, opacity .2s;
  transition-timing-function: linear;
  max-height: 0;
  overflow: hidden;
  right: -30%;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid white;
  opacity: 0;
}

.dropdown {
  cursor: pointer;
}

.a-dropdown-active {
  background-color: #fff;
  color: #000 !important;
}

.dropdown:hover>.dropdown-menu-test {
  max-height: 200px;
  opacity: 1;
}

.dropdown-menu-test-active {
  max-height: 200px;
}

.li-sub {
  float: none;
  text-align: center;
  min-width:160px;
}

.a-sub {
  background-color: #333;
  color: white !important;
  font-size:15px;
}

.a-sub:hover {
  background-color: #fff !important;
  color: #4B94CF !important;
}

/*Navbar Button------------------------------------------*/

/*Fixes the button sizing in firefox*/
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.nav-button {
  background-color: #E8E8E8;
  border: 1px solid grey;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  float: right;
  padding: 6px 10px;
  padding-bottom: 10px;
  position: absolute;
  right: 10px;
  top: 18px !important;
}

.nav-button-active {
  background-color: white;
}

.line {
  background-color: grey;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  height: 2px;
  margin-top: 5px;
  width: 25px;
}

/*Media Queries ---------------------------------*/

@media only screen and (min-width: 760px) {
  .brand {
    margin-top: 0px;
    width: 390px;
  }

  .nav-ul {
    -webkit-transition: margin-top .2s; /* For Safari 3.1 to 6.0 */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: margin-top .2s;
    transition-timing-function: linear;
    margin: 33px 0 0;
  }

  .nav-button {
    display: none;
  }

  /*Scroll effects--------*/
  .header-scroll {
    height: 60px;
  }

  .brand-scroll {
    /*margin-top: 12px;*/
    width: 270px;
  }
  .brand-scroll .tagline {display:none;}
  .brand-scroll .logoR {font-size:60%;}
  .brand-scroll .logoO {font-size: 45% !important; margin-top: 2px !important;}
  .brand-scroll .question {font-size: 45% !important; margin-top: 22px !important;}

  .nav-ul-scroll {
    margin-top: 0;
  }

  .container-scroll {
    padding-top: 70px;
  }
}

@media only screen and (max-width: 760px) {
  .header {
    height: auto;
    overflow: auto;
    position: static;
  }
  .brand .tagline {display:none;}
  .nav-wrapper {
    display: block;
    float: none;
    margin-right: 0;
    margin-top: 80px;
    width: 100%;
  }

  .nav-ul {
    -webkit-transition: max-height .8s; /* For Safari 3.1 to 6.0 */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: max-height .8s;
    transition-timing-function: linear;
    background-color: #B57676;
    clear: both;
    display: block;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .nav-ul-active {
    /*This has to be a value that's greater than the element's height or it will be cut off*/
    max-height: 500px;
  }
  
  .nav-li {
    float: none;
    width: 100%;
  }

  .dropdown-menu-test {
    border: 0;
    position: static;
  }

  .li-sub {
    text-align: left;
  }

  .container, #hero, .hero-content {
    padding-top: 80px;
  }
}

@media (min-width: 760px) and (max-width: 760px) {
  .header {
    height: auto;
    overflow: auto;
  }

  .brand {
    margin-top: 30px;
    width: 270px;
  }

  .nav-button {
    display: block;
  }
}
